@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-muted-rgb: 98, 108, 127;
}

body {
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1160px;
  @apply text-primary bg-background dark:bg-primary dark:text-white box-border bg-[url('../../public/images/pattern-background-mobile-light.svg')]  md:bg-[url('../../public/images/pattern-background-tablet-light.svg')] lg:bg-[url('../../public/images/pattern-background-desktop-light.svg')];
  @apply dark:bg-[url(../../public/images/pattern-background-mobile-dark.svg)] dark:md:bg-[url(../../public/images/pattern-background-tablet-dark.svg)] dark:lg:bg-[url(../../public/images/pattern-background-desktop-dark.svg)];
}
